* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Color styles */
  --black: rgba(0, 0, 0, 1);
  --white: rgba(255, 255, 255, 1);
  --black--alpha--900: rgba(0, 0, 0, 0.9200000166893005);
  --black--alpha--800: rgba(0, 0, 0, 0.800000011920929);
  --black--alpha--700: rgba(0, 0, 0, 0.6399999856948853);
  --black--alpha--600: rgba(0, 0, 0, 0.47999998927116394);
  --black--alpha--500: rgba(0, 0, 0, 0.36000001430511475);
  --black--alpha--400: rgba(0, 0, 0, 0.23999999463558197);
  --black--alpha--300: rgba(0, 0, 0, 0.1599999964237213);
  --black--alpha--200: rgba(0, 0, 0, 0.07999999821186066);
  --black--alpha--100: rgba(0, 0, 0, 0.05999999865889549);
  --black--alpha--50: rgba(0, 0, 0, 0.05000000074505806);
  --white--alpha--900: rgba(255, 255, 255, 0.9200000166893005);
  --white--alpha--800: rgba(255, 255, 255, 0.800000011920929);
  --white--alpha--700: rgba(255, 255, 255, 0.6399999856948853);
  --white--alpha--600: rgba(255, 255, 255, 0.47999998927116394);
  --white--alpha--500: rgba(255, 255, 255, 0.36000001430511475);
  --white--alpha--400: rgba(255, 255, 255, 0.23999999463558197);
  --white--alpha--300: rgba(255, 255, 255, 0.1599999964237213);
  --white--alpha--200: rgba(255, 255, 255, 0.07999999821186066);
  --white--alpha--100: rgba(255, 255, 255, 0.05999999865889549);
  --white--alpha--50: rgba(255, 255, 255, 0.05000000074505806);
  --orange--alpha--900: rgba(227, 150, 74, 0.9200000166893005);
  --orange--alpha--800: rgba(227, 150, 74, 0.800000011920929);
  --orange--alpha--700: rgba(227, 150, 74, 0.6399999856948853);
  --orange--alpha--600: rgba(227, 150, 74, 0.47999998927116394);
  --orange--alpha--500: rgba(227, 150, 74, 0.36000001430511475);
  --orange--alpha--400: rgba(227, 150, 74, 0.23999999463558197);
  --orange--alpha--300: rgba(227, 150, 74, 0.1599999964237213);
  --orange--alpha--200: rgba(227, 150, 74, 0.07999999821186066);
  --orange--alpha--100: rgba(227, 150, 74, 0.05999999865889549);
  --orange--alpha--50: rgba(227, 150, 74, 0.05000000074505806);
  --gray--900: rgba(26, 26, 26, 1);
  --gray--800: rgba(51, 51, 51, 1);
  --gray--700: rgba(77, 77, 77, 1);
  --gray--600: rgba(102, 102, 102, 1);
  --gray--500: rgba(128, 128, 128, 1);
  --gray--400: rgba(150, 150, 150, 1);
  --gray--300: rgba(173, 173, 173, 1);
  --gray--200: rgba(196, 196, 196, 1);
  --gray--100: rgba(219, 219, 219, 1);
  --gray--50: rgba(242, 242, 242, 1);
  --orange--900: rgba(44, 26, 7, 1);
  --orange--800: rgba(88, 51, 14, 1);
  --orange--700: rgba(132, 77, 21, 1);
  --orange--600: rgba(176, 102, 28, 1);
  --orange--500: rgba(221, 128, 34, 1);
  --orange--400: rgba(227, 150, 74, 1);
  --orange--300: rgba(233, 173, 114, 1);
  --orange--200: rgba(239, 196, 154, 1);
  --orange--100: rgba(248, 229, 211, 1);
  --orange--50: rgba(252, 242, 233, 1);
  --red--900: rgba(44, 7, 7, 1);
  --red--800: rgba(88, 14, 14, 1);
  --red--700: rgba(132, 21, 21, 1);
  --red--600: rgba(176, 28, 28, 1);
  --red--500: rgba(221, 34, 34, 1);
  --red--400: rgba(227, 74, 74, 1);
  --red--300: rgba(233, 114, 114, 1);
  --red--200: rgba(239, 154, 154, 1);
  --red--100: rgba(245, 194, 194, 1);
  --red--50: rgba(252, 233, 233, 1);
  --yellow--900: rgba(51, 38, 0, 1);
  --yellow--800: rgba(102, 77, 0, 1);
  --yellow--700: rgba(153, 115, 0, 1);
  --yellow--600: rgba(204, 153, 0, 1);
  --yellow--500: rgba(255, 191, 0, 1);
  --yellow--400: rgba(255, 203, 46, 1);
  --yellow--300: rgba(255, 214, 92, 1);
  --yellow--200: rgba(255, 226, 138, 1);
  --yellow--100: rgba(255, 237, 184, 1);
  --yellow--50: rgba(255, 249, 229, 1);
  --instagram--900: rgba(45, 6, 19, 1);
  --instagram--800: rgba(89, 13, 40, 1);
  --instagram--700: rgba(134, 19, 57, 1);
  --instagram--600: rgba(178, 26, 77, 1);
  --instagram--500: rgba(223, 32, 96, 1);
  --instagram--400: rgba(229, 72, 124, 1);
  --instagram--300: rgba(234, 113, 155, 1);
  --instagram--200: rgba(240, 153, 182, 1);
  --instagram--100: rgba(246, 193, 210, 1);
  --instagram--50: rgba(252, 233, 239, 1);
  --youtube--900: rgba(51, 0, 0, 1);
  --youtube--800: rgba(102, 0, 0, 1);
  --youtube--700: rgba(153, 0, 0, 1);
  --youtube--600: rgba(204, 0, 0, 1);
  --youtube--500: rgba(255, 0, 0, 1);
  --youtube--400: rgba(255, 46, 46, 1);
  --youtube--300: rgba(255, 92, 92, 1);
  --youtube--200: rgba(255, 138, 138, 1);
  --youtube--100: rgba(255, 184, 184, 1);
  --youtube--50: rgba(255, 229, 229, 1);
  --pinterest--900: rgba(49, 2, 7, 1);
  --pinterest--800: rgba(98, 4, 13, 1);
  --pinterest--700: rgba(147, 6, 23, 1);
  --pinterest--600: rgba(196, 8, 30, 1);
  --pinterest--500: rgba(245, 10, 38, 1);
  --pinterest--400: rgba(247, 54, 77, 1);
  --pinterest--300: rgba(248, 99, 116, 1);
  --pinterest--200: rgba(250, 142, 155, 1);
  --pinterest--100: rgba(252, 186, 194, 1);
  --pinterest--50: rgba(254, 231, 232, 1);
  --ruby--900: rgba(22, 3, 9, 1);
  --ruby--800: rgba(75, 10, 31, 1);
  --ruby--700: rgba(124, 17, 52, 1);
  --ruby--600: rgba(174, 24, 73, 1);
  --ruby--500: rgba(216, 30, 91, 1);
  --ruby--400: rgba(231, 81, 130, 1);
  --ruby--300: rgba(238, 131, 166, 1);
  --ruby--200: rgba(245, 180, 201, 1);
  --ruby--100: rgba(252, 230, 237, 1);
  --ruby--50: rgba(255, 245, 248, 1);
  --ruby--alpha--900: rgba(22, 3, 9, 0.9200000166893005);
  --ruby--alpha--800: rgba(75, 10, 31, 0.800000011920929);
  --ruby--alpha--700: rgba(124, 17, 52, 0.6399999856948853);
  --ruby--alpha--600: rgba(174, 24, 73, 0.47999998927116394);
  --ruby--alpha--500: rgba(216, 30, 91, 0.36000001430511475);
  --ruby--alpha--400: rgba(231, 81, 130, 0.23999999463558197);
  --ruby--alpha--300: rgba(238, 131, 166, 0.1599999964237213);
  --ruby--alpha--200: rgba(245, 180, 201, 0.07999999821186066);
  --ruby--alpha--100: rgba(252, 230, 237, 0.05999999865889549);
  --ruby--alpha--50: rgba(255, 245, 248, 0.05000000074505806);

  /* Text-size styles */
  /* base size: mobile---h3 (16px) */
  --desktop---h1: 3rem;
  --desktop---h2: 1.5rem;
  --desktop---h3: 1.25rem;
  --desktop---text--regular: 1rem;
  --desktop---text--small: 0.88rem;
  --desktop---text--bold: 1rem;
  --desktop---text--strike: 1rem;
  --desktop---text--underline: 1rem;
  --desktop---text--small--bold: 0.75rem;
  --mobile---h1: 1.5rem;
  --mobile---h2: 1.25rem;
  --mobile---h3: 1rem;
  --mobile---text--regular: 1rem;
  --mobile---text--small: 0.88rem;
  --mobile---text--bold: 1rem;
  --mobile---text--strike: 1rem;
  --mobile---text--underline: 1rem;
  --mobile---text--small--bold: 0.75rem;

  /* Effect styles */
  --focus-outline: 0px 0px 0px rgba(226, 149, 71, 0.5);
  --button-blur: ;
  --mockup-shadow: 0px 16px 32px rgba(0, 0, 0, 0.2);
}

body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}
